.main {
    width: 100vw;
    color: white;
}

.main section {
    height: max-content;
    width: 100vw;
}

.section1 {
    position: relative;
}

.section1 video {
    height: 100%;
    width: 100%;
    filter: brightness(0.5);
    object-fit: cover;
}

.section1 text {
    position: absolute;
    top: 50%;
    width: 50%;
    /* max-width: 800px; */
    left: calc(50% - 1200px / 2);
    z-index: 10;
    transform: translate(0, -50%);
}

.section1 text h2 {
    font-size: 60px;
    color: white;
}

.section1 text h2 span {
    color: yellow;
}


.section1 text button {
    margin-top: 20px;
    padding: 15px 40px;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #fff;
    transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
    font-size: 20px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 1px solid white;

}

.section1 text button span {
    position: relative;
    z-index: 10;
}

.section1 text button::before {
    content: '';
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: yellow;
    left: unset;
    right: 0;
    top: 0;
    /* transform: translate(-100%, 0); */
    /* border-radius: 50px; */
    z-index: 2;
    transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.section1 text button:hover::before {
    border-radius: 40px;
    width: 100%;
    left: 0;
    right: unset;
}

.section1 text button:hover {
    color: #000;
}

.sec2Wrapper {
    width: 1200px;
    /* height: 100%; */
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.sec2Inside {
    width: 100%;
    display: flex;
    margin: 50px auto;
    flex-wrap: wrap;
}

.sec2Inside:nth-child(even) {
    flex-direction: row-reverse;
}

.left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: max-content;
}

.second {
    justify-content: flex-end;
}


.left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
}

.right {
    width: 50%;
    color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.right text {
    width: 100%;
    margin-left: 200px;
}

.right text h2 {
    color: yellow;
    font-size: 35px;
}

.right text p {
    width: 100%;
    font-size: 22px;

}

.rsecond text {
    flex-direction: column;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-left: 0;
    margin-right: 200px;
}

.rsecond text p {
    text-align: end;
}

.something {
    padding: 100px 0;
    width: 100%;
}

.something h2 {
    font-size: 50px;
    color: black;
    text-align: center;
}

.contactSection {
    color: #000;
}

@media screen and (width<1200px) {
    .section1 video {
        height: 60vh;
        width: 100vw;
    }

    .section1 text {
        left: calc((100% - 968px) / 2);
    }

    .section1 text h2 {
        font-size: 34px;
    }

    .section1 text button {
        font-size: 18px;
        padding: 15px 35px;
    }

    .sec2Wrapper {
        width: 100%;
        gap: 1rem;
        padding-bottom: 20px;
    }

    .sec2Inside {
        gap: 1rem;
        margin: auto;
    }

    .left {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .left img {
        width: 80%;
        aspect-ratio: 1;
        height: auto;
    }

    .something {
        padding: 40px 0;
    }

    .something h2 {
        font-size: 30px;
    }

    .right {
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .right text {
        width: 80%;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        margin: auto;
    }

    .right text p {
        width: 100%;
        text-align: left;
    }
}

@media screen and (width<968px) {
    .section1 text {
        left: 10px;
    }

    .section1 video {
        height: 50vh;
    }
}

@media screen and (width<768px) {
    .section1 video {
        height: 40vh;
    }

    .section1 text {
        width: 80%;
        left: 50%;
        top: 60%;
        transform: translate(-50%, -60%);
    }

    .section1 text h2 {
        font-weight: 100;
        font-size: 22px;
    }

    .section1 text button {
        font-size: 14px;
        padding: 10px 18px;
    }

    .left img {
        width: 80%;
        aspect-ratio: unset;
        height: 300px;
        border-radius: 5px;
    }

    .right text p {
        font-size: 16px;
    }

    .right text h2 {
        font-size: 22px;
    }

    .something {
        padding: 20px 0;
    }

    .something h2 {
        font-size: 22px;
    }
}