.techPage {

    height: 100dvh;
    width: 100dvw;
    background: linear-gradient(-45deg, #354289, #03A9DB);
    text-transform: uppercase;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textbelow {
    position: absolute;
    bottom: 20px;
    font-size: 20px;
    opacity: 0.9;
    font-weight: 100;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: scrolltext 2s infinite;
    text-shadow: 0px 0px 5px black;
}

@keyframes scrolltext {

    0%,
    100% {
        transform: translateY(-4px);
    }

    50% {
        transform: translateY(0);
    }

}

.techAnimation {

    position: absolute;
    /* bottom: 30%; */

}

.techtext {
    top: 20%;
    font-size: 40px;
    text-align: center;
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
}

.innerCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background-color: #374389;
    border-radius: 50%;
    z-index: 100;
}



.outerCircle1 {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: rgb(220, 220, 220);
    /* border: 3px solid rgb(189, 189, 189, 0.8); */
    border-radius: 50%;
    z-index: 99;
}

.imageBox {
    position: absolute;
    width: 100%;
    left: -10%;
    height: 100%;
    display: flex;
    justify-content: flex-start;

    align-items: center;
}

.imgimgbox {
    background-color: #fff;
    position: absolute;
    width: 55px;
    border-radius: 50%;
    height: 55px;
    transform: rotate(calc(360deg / 3 * var(--i) + 45deg));
    transform-origin: 125px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.imgimgbox img {
    height: auto;
    width: 70%;
    transform: rotate(calc(-360deg / 3 * var(--i) - 45deg));
}

.line {
    height: 50vh;
    position: absolute;
    bottom: 0;
    width: 2px;
    background-color: white;
}

.outerCircle2 {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 300px;
    width: 300px;
    transform: translate(-50%, -50%);
    /* border: 2px solid rgb(214, 214, 214, 0.5); */
    border-radius: 50%;
    background-color: rgb(200, 200, 200);
    z-index: 98;

}

.outerCircle2 .imageBox {
    position: absolute;
    width: 100%;
    /* left: -10%; */
    height: 100%;
    display: flex;
    justify-content: flex-start;

    align-items: center;
}

.outerCircle2 .imageBox .imgimgbox {
    transform: rotate(calc(360deg / 2 * var(--i) - 120deg));
    transform-origin: 175px;

}

.outerCircle2 .imageBox .imgimgbox img {

    transform: rotate(calc(-360deg / 2 * var(--i) + 120deg));

}

.outerCircle3 {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 400px;
    width: 400px;
    transform: translate(-50%, -50%);
    /* border: 1px solid rgb(214, 214, 214, 0.5); */
    border-radius: 50%;
    background-color: rgb(180, 180, 180);
    z-index: 97;
}

.outerCircle3 .imageBox {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -5%;
}

.outerCircle3 .imageBox .imgimgbox {

    transform: rotate(calc(360deg / 2 * var(--i) + 120deg));
    transform-origin: 225px;

}

.outerCircle3 .imageBox .imgimgbox img {

    transform: rotate(calc(-360deg / 2 * var(--i) - 120deg));

}

.outerCircle4 {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 500px;
    width: 500px;
    transform: translate(-50%, -50%);
    /* border: 1px solid rgb(214, 214, 214, 0.5); */
    border-radius: 50%;
    background-color: rgb(150, 150, 150);
    z-index: 96;
}

.outerCircle4 .imageBox .imgimgbox {
    transform: rotate(calc(360deg / 2 * var(--i)));
    transform-origin: 275px;
    left: 20px;
}

.outerCircle4 .imageBox .imgimgbox img {

    transform: rotate(calc(-360deg / 2 * var(--i)));

}

@media screen and (width<500px) {
    .innerCircle {
        height: 40px;
        width: 40px;
    }

    .outerCircle1 {
        height: 100px;
        width: 100px;
    }

    .imgimgbox {
        height: 35px;
        width: 35px;
        transform-origin: 65px;
    }

    .imgimgbox img {
        height: auto;
        width: 60%;
    }

    .outerCircle2 {
        height: 200px;
        width: 200px;
    }

    .outerCircle2 .imageBox .imgimgbox {
        transform-origin: 120px;
    }

    .outerCircle3 {
        height: 300px;
        width: 300px;
    }

    .outerCircle3 .imageBox .imgimgbox {
        transform-origin: 165px;
    }

    .outerCircle4 {
        height: 400px;
        width: 400px;
    }

    .outerCircle4 .imageBox .imgimgbox {
        transform-origin: 220px;
    }

}