.page {
    height: max-content;
    width: 100dvw;
    background: #2A2459;
}

.hero {
    height: 100dvh;
    width: 100%;
    /* position: absolute; */
    display: flex;
    /* top: 0; */
    /* left: 0; */
    justify-content: center;
    align-items: center;
    background: transparent;
}

.canvas {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.text {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text h2 {
    font-size: 3.2dvw;
    color: white;
    font-family: sans-serif;
    font-weight: 900;
}

.text p {
    color: #B5ACF1;
}

.text button {
    background: #FF3E88;
    border: none;
    font-size: 1.2dvw;
    border-radius: 50px;
    outline: none;
    color: white;
    padding: 0.5dvw 2dvw;
    margin-top: 2dvw;
}

.section2 {}

.section2svg {
    transform: translateY(-100px);
}

.section2 .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #4d4487;
    font-size: 1.2dvw;
}

.section3 {
    height: 100dvh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.sec3img {
    display: flex;
    /* margin: 40px auto; */
    justify-content: center;
    align-items: center;
}

.section4 {
    height: 100dvh;
    width: 100dvw;
    position: relative;
    overflow: hidden;
}

.section4 .text {
    margin-top: 10vw;
}

.section4 .text p {
    margin-top: 20px;
    font-size: 1.1vw;
    font-weight: 100;
}

.section4 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 120vh;
    width: 120vw;
    z-index: 1;
    filter: brightness(1.2) contrast(1.2) saturate(1.2);
    /* object-fit: cover; */
}

.p {
    position: absolute;
    left: 50%;
    transform: translate(-50%,10%);
    bottom: 10%;
    font-size: 1.1vw;
    color: #B5ACF1;
    text-align: center;
    width: 80%;
    margin: auto;
}

.p p {

    font-family: sans-serif;
    font-weight: 100;

}
.banner{
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    transform: translateY(50%);
}
.section5 .banner{
    bottom: unset;
    top: 0;
    transform: translateY(-50%);
}
.banner p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.2vw;
    color: #B5ACF1;
}
.section5{
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
    position: relative;
}
.section5 .text{
    padding-top: 100px;
}
.sec5SVG{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 200%;
    width: 200vw;
}
.sec5SVG svg{
    height: 100%;
    width: 100%;
}
.section5>p{
    position: absolute;
    bottom: 10%;
    color: #B5ACF1;
    font-size: 1vw;
    text-align: center;
    width: 80%;
    left: 50%;
    transform: translate(-50%,10%);
}
.section6{
    position: relative;
}
.sec6first{
    position: relative;
}
.sec6first .diagram{
    height: calc(100vh - 150px);
    width: 100vw;
    background: rgba(241, 241, 241, 0.157);
    border-radius: 50%;
}
.sec6first>p{
    position: absolute;
    bottom: 10%;
    width: 80%;
    left: 50%;
    transform: translate(-50%,10%);
    color: #B5ACF1;
    text-align: center;
    font-size: 1.2vw;

}
.sec6second{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sec6second img{
    margin: 5vw;
    height: 120px;
    width: auto;
    /* margin: auto; */
}
.sec6second .text{
    width: 60%;
    margin: auto;
}
.sec6second .text h2,.sec6second .text p{
    text-align: center;
}
.sec6second .text p{
    margin-top: 40px;
    font-size: 1.1vw;
    color: #F4F1FF;
    padding-bottom: 40px;
}