@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Source+Code+Pro&display=swap');

.main {
    height: max-content;
    width: 100vw;
    background: linear-gradient(#A2A9A3, #A2A9A3, #A2A9A3, #98938E, #E1DFDD, #EDBFAB);
    overflow-x: hidden;
}

.section1 {
    padding-top: 300px;

}

.sec1text p {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 70px;
    margin: 0 40px;
    /* font-family: 'Inconsolata', monospace; */
    font-family: 'Source Code Pro', monospace;
    /* background-color: #E1DFDD; */
    animation: text 1s infinite;
}

.parallax1 {
    height: 45vw;
    width: calc(100vw - 80px);
    margin: auto;
    border-radius: 15px;
    background-color: #4B514F;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: hidden;
    padding: 0 40px;
    gap: 30px;
    position: relative;
}

.column1 {
    width: 100%;
    height: max-content;
}

.column2 {
    width: 100%;
    height: max-content;
}

.column3 {
    width: 100%;
    height: max-content;
}

.column4 {
    width: 100%;
    height: max-content;
}

.img {
    max-width: 100%;
    margin-bottom: 30px;
    /* box-shadow: 0px 0px 50px 0px rgb(61, 61, 61); */
    /* border-radius: 45px; */
    user-select: none;

}

.column1 {
    position: relative;
    top: -300px;
}

.column2 {
    position: relative;
    top: -400px;
}

.column3 {
    position: relative;
    /* top: 25%; */
    /* margin-top: 10px; */
    /* transform: translate(0,-50%); */
    
}

.column4 {
    position: relative;
    top: -350px;
}

.section2 {
    width: 100%;
    height: max-content;
    display: flex;
    /* flex-wrap: wrap; */
    padding: 60px 0;
    justify-content: space-between;

}

.sec2text {
    width: 40%;
    height: 100%;
    margin: 40px;
}

.sec1text p:nth-child(2) {
    font-size: 28px;
    margin-bottom: 10px;
}

.sec2text p:nth-child(2) {
    font-size: 40px;
    letter-spacing: -1px;
    font-family: 'Source Code Pro', monospace;
}


.parallax2 {
    width: 50%;
    position: relative;
    margin: 0 40px;
    height: 50vw;
    background-color: #4B514F;
    border-radius: 15px;
    overflow: hidden;
}

.parallax3 {
    background-color: #3C3835;
}

.parallax4 {
    background-color: #3B3734;
}

.container {
    width: 55%;
    margin: auto;
    height: 100%;
    position: relative;
    /* transform: translate(0,-20%); */
}

.container4 {
    width: 100%;
}



.p2c1 {
    width: 100%;
    position: absolute;
    z-index: 1;
    left: -20%;
    top: 100px;

}



.p4c1 {
    left: 10%;
}

.p2c1 img {
    width: 100%;
    /* border-radius: 45px; */
    /* box-shadow: 0px 0px 20px 0 black; */
}

.p2c2 {
    left: 20%;
    /* top: 10%; */
    position: absolute;
    width: 100%;
    z-index: 2;

}

.container4 .p2c1 {
    width: 45%;
    top: -15%;
    left: 2.5%;
}

.container4 .p2c2 {
    width: 45%;
    top: 10%;
    right: 2.5%;
    left: unset;
}

.p2c2 img {
    width: 100%;
    /* border-radius: 45px; */
    /* box-shadow: 0px 0px 20px 0 black; */

}

@media screen and (width<900px) {
    .section2 {
        flex-direction: column-reverse;
        gap: 1rem;
        padding-top: 80px;
    }

    .section3 {
        flex-direction: column;
    }

    .parallax2 {
        width: 80%;
        height: 750px;
    }

    .parallax3 {
        width: 80%;
    }

    .parallax4 {
        width: 80%;
    }

    .sec1text {
        width: 80%;
    }

    .sec2text {
        width: 80%;
    }

    .sec3text {
        width: 80%;
    }

    .sec4text {
        width: 80%;
    }
}

@media screen and (width<768px) {

    .parallax2 {
        width: 90%;
        margin: auto;
        /* margin: auto; */
        height: 500px;
        /* padding: 0 10px; */
    }

    .container {
        width: 300px;
    }

    .section2 {
        padding: 0;
        gap: 0;
        padding-top: 40px;
    }

    .section2:nth-child(1) {
        padding: 0;
        padding-top: 3.5rem;
        gap: 0;
    }

    .p2c1 {
        width: 100%;
        left: -5%;
        top: 60px;
    }

    .p2c2 {
        width: 100%;
        left: unset;
        right: -40%;
        top: 10px;

    }


    .sec2text p:nth-child(2) {
        font-size: 28px;
        line-height: 28px;
        margin-top: 10px;
    }

    .section2:nth-child(3) {
        padding-bottom: 50px;
    }

    .p2c1 img {
        width: 200px;
        /* border-radius: 25px; */
    }

    .p2c2 img {
        width: 200px;
        /* border-radius: 25px; */

    }

    .container4 {
        width: 300px;
    }

    .container4 .p2c1 img {
        width: 200px;
    }

    .container4 .p2c2 img {
        width: 200px;
    }

    .container4 .p2c1 {
        left: -5%;
    }

    .container4 .p2c2 {
        right: -35%;
    }

    .p4c1 {
        width: 100%;
    }

    .p3c1 {
        top: unset;
        left: unset;
        right: unset;
        bottom: unset;
        bottom: 30px;

    }


    .p3c2 {
        top: unset;
        left: unset;
        right: unset;
        bottom: unset;
        right: -100px;
        top: 30px;
    }

    .p4c2 {
        width: 100%;
    }

    .p4c1 img {
        width: 200px;
    }

    .p4c2 img {
        width: 200px;
    }

    .container4 .p2c1 {

        width: 100%;
    }

    .container4 .p2c2 {
        width: 100%;
    }

}