.loading {
    height: 100vh;
    transition: 500ms ease-in-out;
    width: 100vw;
    background-color: #A2A9A3;
    z-index: 999999;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.loading h2 {
    font-size: 40px;
    color: black;
}