.footerPage {
    background-color: #272839;
    padding: 7rem 0;
    width: 100dvw;
    position: relative;
    z-index: 10;
    overflow: hidden;
}

.lefttext {
    width: 30%;
    line-height: 32px;
    font-size: 16px;
    color: #A3A4B3;
}

.imageBox img {
    height: 40px;
    transform: translateX(-10px);
}

.lefttext a {
    color: #ee464b;
    margin-top: 25px;
    text-decoration: none;
    transition: 200ms ease-in-out;
}

.lefttext a:hover {
    color: white;
}

.linksContainer {
    position: relative;
    z-index: 2;
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: rgb(188, 188, 188);
    font-size: 18px;
    font-weight: 400;
    /* gap: 2.5rem; */


}

.py1 {
    position: absolute;
    top: 1%;
    left: 3%;
    -webkit-animation-name: shapeMover;
    animation-name: shapeMover;
    -webkit-animation-duration: 9s;
    animation-duration: 9s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    z-index: 1;
}

.py2 {
    position: absolute;
    bottom: 15%;
    right: 4%;
    -webkit-animation-name: shapeMover;
    animation-name: shapeMover;
    -webkit-animation-duration: 9s;
    animation-duration: 9s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    z-index: 1;

}

@keyframes shapeMover {

    0%,
    100% {
        transform: perspective(400px) translateY(0) rotate(0deg) translateZ(0px) translateX(0);
    }

    50% {
        transform: perspective(400px) rotate(-45deg) translateZ(20px) translateY(20px) translateX(20px);
    }
}

.circleAtBottom {
    position: absolute;

    left: calc(50% - 231.5px);
    bottom: calc(0% - 231px);
    opacity: 0.15;
    animation: bounce 5s infinite;
}

@keyframes bounce {


    0%,
    20%,
    53%,
    80%,
    100% {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}

.links {
    width: 500px;

}

.links h2 {
    font-weight: 500;
    font-size: 22px;
    line-height: 34px;
    color: white;
    padding-left: 18px;
}

.lists {
    display: flex;
    flex-wrap: wrap;
}

.links ul {
    list-style: none;
}

.links ul li {
    color: #7C7D8A;
    cursor: pointer;
    line-height: 34px;
}

.links ul li {
    transition: 100ms ease-in-out;
}


.links ul li span {
    visibility: hidden;
    opacity: 0;
    width: 0;
    overflow: hidden;
    transition: 100ms ease-in-out;
}

.links ul li:hover {
    transform: translateX(10px);
    color: white;
}

.links ul li:hover span {
    visibility: visible;
    opacity: 1;
    width: fit-content;
}

.line {
    width: 1200px;
    margin: 50px auto;
}

.footerbottom {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    z-index: 2;
}

.social {
    display: flex;
    gap: 0.5rem;
}

.socialImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: #25285d;
    border-radius: 50%;
    background-size: 200% auto;
    transition: 300ms ease-in-out;
}


.socialImageContainer:hover {
    background-position: 100%;
}

.socialImageContainer:nth-child(1) {
    background-image: linear-gradient(90deg, #0349a6 0%, #15c27b 51%, #0349a6 100%);
}

.socialImageContainer:nth-child(2) {
    background-image: linear-gradient(90deg, #4453ac 0%, #03a9db 51%, #4453ac 100%);
}

.socialImageContainer:nth-child(3) {
    background-image: linear-gradient(90deg, #4a0e8f 0%, #b430a7 51%, #4a0e8f 100%);
}

.copyright {
    color: #bcbcbc;
}

.copyright span {
    color: rgb(95, 95, 255);
    cursor: pointer;
}

@media screen and (width<1200px) {
    .linksContainer {
        width: 90%;
    }

    .line {
        width: 95%;
    }

    .footerbottom {
        width: 95%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .copyright {
        margin-top: 30px;
        font-size: 18px;
        text-align: center;
    }
}

@media screen and (width<960px) {
    .links {
        font-size: 16px;
        width: 80%;
    }

    .lefttext {
        width: 560px;
        margin: auto;
        padding-left: 16px;
    }

    .linksContainer {
        width: 100%;
        /* text-align: center; */
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    .links {
        width: 560px;
    }

    .footerPage {
        padding: 2rem 0 5rem 0;
    }

}

@media screen and (width<768px) {
    .links {
        width: 80%;
        margin: auto;
    }

    .lefttext {
        width: 80%;

    }

    .py2 img {
        height: 100px;
        width: auto;
    }

    .line {
        width: 95%;
    }

    .footerbottom {
        width: 90%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}