.footerPage {
    background-color: #272839;
    padding: 10rem 0;
    width: 100dvw;
    position: relative;
}

.linksContainer {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    color: rgb(188, 188, 188);
    font-size: 18px;
    font-weight: 400;
    gap: 5rem;


}

.links {
    width: 100%;
}

.links ul {
    list-style: none;
}

.links ul li {
    cursor: pointer;
}

.links ul li {
    transition: 100ms ease-in-out;
}


.links ul li span {
    visibility: hidden;
    opacity: 0;
    width: 0;
    overflow: hidden;
    transition: 100ms ease-in-out;
}

.links ul li:hover {
    transform: translateX(10px);
    color: white;
}

.links ul li:hover span {
    visibility: visible;
    opacity: 1;
    width: fit-content;
}

.copyright {
    font-size:10px;
    position: absolute;
    bottom: 0;
    text-align: center;
    color: #bcbcbc;
    height: 40px;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #15151f;
}

.copyright span {
    color: rgb(95, 95, 255);
    cursor: pointer;
}
@media screen and (width<960px) {
    .links{
        font-size: 16px;
        width: 80%;
    }
    .linksContainer{
        width: 100%;
        /* text-align: center; */
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }
    .footerPage{
        padding: 2rem 0 5rem 0;
    }
}