@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');

.heropage {
    height: calc(950px + 5rem);
    width: 100dvw;
    background: url('https://zimed.netlify.app/assets/images/background/banner-bg-1-1.png');
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

.heroInside {
    /* height: 100%; */
    /* top: 30%; */
    padding-top: 320px;
    padding-bottom: 275px;
    width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    flex-wrap: wrap;
}

.pattern1 {
    position: absolute;
    width: 12rem;
    height: 12rem;
    left: 5rem;
    /* top: 45rem; */
    bottom: 3%;
    rotate: -50deg;
    animation: pattern1 4s infinite;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3ClinearGradient id=%22b%22 gradientTransform=%22rotate(-45 .5 .5)%22%3E%3Cstop offset=%220%25%22 stop-color=%22%23FFE53B%22%2F%3E%3Cstop offset=%22100%25%22 stop-color=%22%23FF2525%22%2F%3E%3C%2FlinearGradient%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M809 698Q629 896 387 827T141 497q-4-261 230.5-292.5t426 132Q989 500 809 698Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22url(%23b)%22 d=%22M809 698Q629 896 387 827T141 497q-4-261 230.5-292.5t426 132Q989 500 809 698Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

@keyframes pattern1 {

    0%,
    100% {
        transform: rotate(0deg);
    }

    25% {
        scale: 1.1;
    }

    50% {
        transform: rotate(40deg);
    }
}

.pattern2 {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 15rem;
    right: 40%;
    animation: bubbleMover 8s infinite;
    animation-timing-function: linear;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CradialGradient id=%22b%22 r=%22100%25%22 cx=%2272%25%22 cy=%2234%25%22%3E%3Cstop offset=%220%25%22 stop-color=%22%23ffe1ff%22%2F%3E%3Cstop offset=%22100%25%22 stop-color=%22%2330f%22%2F%3E%3C%2FradialGradient%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M952.5 647Q905 794 780 885t-280 91q-155 0-280-91T47.5 647Q0 500 47.5 353T220 115q125-91 280-91t280 91q125 91 172.5 238t0 294Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22url(%23b)%22 d=%22M952.5 647Q905 794 780 885t-280 91q-155 0-280-91T47.5 647Q0 500 47.5 353T220 115q125-91 280-91t280 91q125 91 172.5 238t0 294Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}


.textBox {
    /* position: absolute; */
    /* top: 55%; */
    /* transform: translateY(-50%); */
    /* left: 0%; */
    width: 50%;
    margin-left: 0px;
}

.textBox h3 {
    text-transform: uppercase;
    font-size: 70px;
    color: white;
    font-weight: 400;
}


.textBox p {
    text-transform: uppercase;
    font-size: 18px;
    color: white;
    width: 85%;
    margin-top: calc(100dvw / 45);
}

.textBox button {
    transition: 300ms ease all;
    background: transparent;
    border: none;
    outline: none;
    /* padding: calc(100dvw / 103.6) calc(100dvw / 53.28); */
    padding: 16px 65px;
    border: calc(100dvw / 932.5) solid white;
    cursor: pointer;
    margin-top: 40px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    text-transform: uppercase;

}

.textBox button:hover {
    background-color: white;
    color: black;

}

.pattern3 {
    width: 7rem;
    height: 7rem;
    position: absolute;
    top: 10rem;
    left: 10%;
    animation: bubbleMover 10s infinite;
    animation-timing-function: linear;

    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CradialGradient id=%22b%22 r=%22100%25%22 cx=%2272%25%22 cy=%2234%25%22%3E%3Cstop offset=%220%25%22 stop-color=%22%23ebebeb%22%2F%3E%3Cstop offset=%22100%25%22 stop-color=%22red%22%2F%3E%3C%2FradialGradient%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M952.5 647Q905 794 780 885t-280 91q-155 0-280-91T47.5 647Q0 500 47.5 353T220 115q125-91 280-91t280 91q125 91 172.5 238t0 294Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22url(%23b)%22 d=%22M952.5 647Q905 794 780 885t-280 91q-155 0-280-91T47.5 647Q0 500 47.5 353T220 115q125-91 280-91t280 91q125 91 172.5 238t0 294Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}



@keyframes bubbleMover {
    0% {
        transform: translateX(0) translateY(0) rotate(0);
    }

    30% {
        transform: translateY(30px) translateX(50px) rotate(15deg);
    }

    50% {
        transform: translateY(50px) translateX(100px) rotate(45deg);
    }

    80% {
        transform: translateY(30px) translateX(50px) rotate(15deg);
    }

    100% {
        transform: translateY(0) translateX(0) rotate(0);
    }
}

.pattern4 {
    position: absolute;
    top: 12rem;
    right: 12%;
    animation: bounce 5s infinite;
    animation-timing-function: ease-out;

}

@keyframes bounce {


    0%,
    20%,
    53%,
    80%,
    100% {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}

.mobile {

    animation: ImgBounce 5s ease-in-out 0s infinite alternate;
    animation: load 2s;
    animation-delay: 1s;
    z-index: 110;
}

.mobile img {
    width: 100%;
}

@keyframes load {
    0% {
        transform: rotateY(0deg);
    }

    25% {
        transform: rotateY(180deg);
    }

    50% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(180deg);
    }
}

@keyframes ImgBounce {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
}

.pyramid1 {
    position: absolute;
    bottom: 20rem;
    right: 6%;
    -webkit-animation-name: shapeMover;
    animation-name: shapeMover;
    -webkit-animation-duration: 9s;
    animation-duration: 9s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}

@keyframes shapeMover {

    0%,
    100% {
        transform: perspective(400px) translateY(0) rotate(0deg) translateZ(0px) translateX(0);
    }

    50% {
        transform: perspective(400px) rotate(-45deg) translateZ(20px) translateY(20px) translateX(20px);
    }
}

.pyramid2 {
    position: absolute;
    bottom: 10rem;
    right: 32%;
    -webkit-animation-name: shapeMover;
    animation-name: shapeMover;
    -webkit-animation-duration: 9s;
    animation-duration: 9s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.customshapedividerbottom {
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.customshapedividerbottom svg {
    position: relative;
    display: block;
    width: calc(114% + 1.3px);
    height: 100px;
    transform: rotateY(180deg);
}

.customshapedividerbottom .shape-fill {
    fill: #FFFFFF;
}

@media screen and (width<1200px) {
    .heroInside {
        width: 960px;
        flex-direction: row-reverse;
    }

}

@media screen and (width<960px) {
    .heroInside {
        height: max-content;
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding-top: 120px;
        justify-content: center;
        padding-bottom: 150px;
    }

    .heropage {
        background-position: center;
        height: max-content;
    }



    .textBox {
        width: 90%;
    }

    .textBox h3 {
        font-size: 22px;
    }

    .textBox p {
        font-size: 12px;
        width: 90%;
    }

    .textBox button {
        padding: 7px 17px;
        font-size: 14px;
        margin-top: 10px;
    }

    .pattern1 {
        display: none;
    }

    .pattern2 {
        display: none;
    }

    .pattern3 {
        display: none;
    }

    .pattern4 {
        display: none;
    }

    .pyramid1 {
        display: none;
    }

    .pyramid2 {
        display: none;
    }

}

@media screen and (width<500px) {
    .heroInside {
        padding-top: 80px;
    }
}