.main {
    height: max-content;
    /* delete height after production */
    width: 100vw;
    background: #0E0E0E;
    position: relative;

}

.hero {
    width: 100%;
    background: radial-gradient(49.05% 108.02% at 97.4% 84.07%, rgba(55, 23, 255, .6) 0, rgba(55, 23, 255, 0) 100%), radial-gradient(44.95% 80.77% at 45.94% 11.74%, rgba(22, 242, 117, .5) 0, rgba(22, 242, 117, 0) 100%), #0e0e0e;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.text {
    width: 50%;
    height: max-content;
}

.text h2 {
    color: white;
    font-size: 5.5vw;
    width: 100%;
    /* font-family: sans-serif; */

}

.text a button {
    margin-top: 50px;
    border-radius: 20px;
    margin-right: 40px;
    padding: 15px 30px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 28px;
    position: relative;
    width: max-content;
    transition: 0.1s ease-in-out;

}

.text .leftbutton {
    background: rgb(229, 255, 72);
}

.leftbutton:hover {
    background: rgb(216, 247, 39)
}

.text .rightbutton:hover {
    background: white;
    color: black;
}

.rightbutton:hover .arrow {
    border-color: black;
}

.text .rightbutton {
    color: white;
    border: 2px solid white;
}

.buttonInside {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.text a button:hover .arrow {
    transform: translate(7px) rotate(45deg);
    transition: 0.05s ease-in-out;
}
.arrow {
    height: 10px;
    width: 10px;
    transform: rotate(45deg);
    border-right: 2px solid black;
    border-top: 2px solid black;
}

.rightbutton .arrow {
    border-color: white;
}

.image {
    transform: translate(0, 100px);
    width: 400px;
    height: 600px;
    border-radius: 20px;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section1 {
    height: 100vh;
    width: 100vw;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section1 h2 {
    color: #22F37C;
    font-weight: 100;
}

.section1 h1 {
    font-size: 4vw;
}

.circles {
    width: 90%;
    height: max-content;
    display: flex;
    margin-top: 5vw;
}

.circle {
    /* display: inline-block; */
    width: calc(100% / 3);
    height: calc(90vw / 3);
    border-radius: 50%;
    /* background: hotpink; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle:nth-child(1) {
    background: radial-gradient(90.42% 90.42% at 13.43% 90.42%, rgba(55, 23, 255, .5) 0, rgba(55, 23, 255, 0) 100%), radial-gradient(54.16% 35.46% at 91.62% 33.93%, rgba(21, 217, 255, .7) 0, rgba(21, 217, 255, 0) 100%), #1c1c1c;
}

.circle:nth-child(2) {
    background: radial-gradient(67.79% 67.79% at 80.1% 105.22%, rgba(35, 216, 215, .5) 0, rgba(246, 87, 96, 0) 100%), radial-gradient(43.41% 43.41% at 26% 21.52%, rgba(55, 23, 255, .5) 0, rgba(255, 152, 41, 0) 100%), #1c1c1c;
}

.circle:nth-child(3) {
    background: radial-gradient(69.15% 69.15% at 58.71% 90.17%, rgba(35, 216, 215, .5) 0, rgba(229, 255, 72, 0) 100%), radial-gradient(61.57% 61.57% at 7.84% 12.56%, rgba(22, 242, 117, .7) 0, rgba(22, 242, 117, 0) 100%), #1c1c1c;
}

.circle h2 {
    width: 60%;
    text-align: center;
    color: white;
    font-size: 2.2vw;
    font-weight: 600;
}

.section2 {
    height: 60vh;
    width: 100%;
    background: radial-gradient(26.35% 78.11% at -4.31% 5.85%, rgba(21, 217, 255, .7) 0, rgba(21, 217, 255, 0) 100%), radial-gradient(48.09% 249.65% at 100% 81.8%, #0e0e0e 0, rgba(229, 255, 72, 0) 100%), radial-gradient(49.83% 84.35% at 51.91% 100.02%, rgba(22, 242, 117, .4) 0, rgba(22, 242, 117, 0) 100%), #0e0e0e;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section2 h2 {
    font-size: 3.5vw;
    color: white;
}

.callCircle {
    width: calc(100vw / 4.5);
    height: calc(100vw / 4.5);
    border-radius: 50%;
    background: rgb(229, 255, 72);
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.callCircle:hover {
    background: rgb(216, 247, 39);
}

.callCircle:hover::before {
    height: 90%;
    width: 90%;
}

.callCircle::before {
    transition: 0.2s ease-in-out;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 1px solid black;
}
.callCircle h2{
    font-size: 1.5vw;
    font-weight: 100;
    color: black;
}
.contactForm{
    padding: 100px 0;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: white;
    flex-direction: column;

}
.contactForm h2{
    font-size: 4vw;
    margin-bottom: 2vw;
}
.contactForm form{
    width: 50%;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.contactForm input{
    padding: 15px 20px 15px 15px;
    background: rgb(235, 235, 235);
    outline: none;    
    border: 1px solid rgb(187, 187, 187);
    border-radius: 10px;
    width: 100%;
}
.contactForm form input::placeholder{
    color: rgb(178, 178, 178);
}
.contactForm form input:focus{
    border-color: blue;
}
.forminputs{
    display: flex;
    gap: 40px;
}
.contactForm textarea{
    padding: 15px 20px 15px 15px;
    background: rgb(235, 235, 235);
    outline: none;    
    border: 1px solid rgb(187, 187, 187);
    border-radius: 10px;
    width: 100%;
    resize: vertical;
}
.contactForm textarea::placeholder{
    color: rgb(178, 178, 178);
}
.contactForm .formbutton{
    width: max-content;
    margin: auto;
    padding: 15px 30px;
    border-radius: 15px;
    border: none;
    background: rgb(229, 255, 72);
    transition: 0.2s ease-in-out;
    font-size: 18px;
}
.formbutton:hover{
    background: rgb(216, 247, 39);
}
.formbutton:hover .arrow{
    transition: 0.1s ease-in-out;
    transform: translate(10px) rotate(45deg);
}