.main {
    background-color: white;
    /* height: 100dvh; */
    width: 100dvw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 4rem 0;
    /* border-bottom: 1px solid #272839; */

}

.text {

    text-align: center;
    margin-bottom: 100px;
}

.text p {
    font-size: 25px;
    color: #ee464b;
    margin-bottom: 30px;
}

.text h1 {
    font-size: 40px;
    color: #272839;
}

.servicesBox {

    width: 100%;
    gap: 2rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 15rem);

}

.servicesCard {
    position: relative;
    height: 15rem;
    color: grey;
    fill: white;
    width: 15rem;
    padding: 0rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

    transition: 1s ease-in-out;
    transition: 400ms ease-in-out;
    transform: perspective(500px) rotateY(0deg);
}



.servicesCardFront {
    border: 1px solid #e8e8ef;
    position: absolute;
    transition: 400ms ease-in-out;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    backface-visibility: hidden;
    background: linear-gradient(90deg, #4352AC, #03A9DB);
    transform: perspective(500px) rotateY(0deg);

}

.servicesCardBack {
    border: 1px solid #e8e8ef;

    padding: 1rem;
    position: absolute;
    backface-visibility: hidden;
    transition: 400ms ease-in-out;
    height: 100%;
    width: 100%;
    text-align: left;
    background-color: #0CB7CE;
    color: white;
    transform: perspective(500px) rotateY(-180deg);
}

.servicesCard p {
    width: 50%;
    color: grey;
    color: white;
    text-transform: uppercase;
}


.servicesCardBack p {
    color: white;
    width: 90%;
}

.servicesCardFront img {
    width: 50%;
    height: 50%;
    color: white;
    filter: opacity(1) invert(1);

}

.servicesCard:hover>.servicesCardBack {

    transform: perspective(500px) rotateY(0deg);
}

.servicesCard:hover>.servicesCardFront {
    transform: perspective(500px) rotateY(180deg);
}

@media screen and (width<1200px) {
    .servicesBox {
        grid-template-columns: repeat(4, 12rem);
    }

    .servicesCard {
        height: 12rem;
        width: 12rem;
    }

    .servicesCard p {
        font-size: 14px;
    }
}

@media screen and (width<960px) {

    .text h1 {
        font-size: 22px;
    }

    .text p {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .servicesBox {
        grid-template-columns: repeat(3, 10rem);
        gap: 1rem;

    }

    .servicesCard {
        width: 10rem;
        height: 10rem;
    }

    .servicesCard p {
        font-size: 12px;
        width: 100%;
    }

    .servicesCardBack p {
        width: 100%;
    }
}

@media screen and (width<500px) {
    .servicesBox {
        grid-template-columns: repeat(4, 5.5rem);
        gap: 5px;
    }

    .servicesCard p {
        font-size: 10px;
    }

    .servicesCardFront {
        gap: 5px;
    }

    .servicesCardBack {
        padding: 1px;
    }

    .servicesCardBack p {
        font-size: 8px;
    }

    .servicesCard {
        width: 5.5rem;
        height: 5.5rem;
    }

    .text {
        margin-bottom: 20px;
    }

    .main {
        padding-bottom: 5rem;
    }
}