@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;

}
html{
  scroll-behavior: smooth;
}
body {
  width: 100dvw;
  height: 100dvh;
  overflow-x: hidden;
  /* background-color: black; */
}

