@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');

@font-face {
  font-family: norwester;
  src: url('/norwester.otf');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;

}

body {
  width: 100dvw;
  height: max-content;
  overflow-x: hidden;
  /* background-color: black; */
}