.button button {
    padding: 18px 25px;
    font-size: 20px;
    width: max-content;
    border-radius: 40px;
    outline: none;
    border: none;
    /* background-color: #B14125; */
    background-color: #C95638;
    color: white;
    position: relative;
    z-index: 1;
    overflow: hidden;

}

.buttoninner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    z-index: 10;
    transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.button button span {
    padding-right: 50px;
    font-weight: 100;
}

.button svg {
    position: absolute;
    height: 15px;
    width: 15px;
    right: 16%;
    top: 50%;
    transform: translate(0, -50%);
    color: white;
    fill: white;
}

.button button::after {
    content: '';
    width: 50px;
    height: 40px;
    position: absolute;
    border: 1px solid white;
    border-radius: 20px;
    right: 7%;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 1;
}

.button button::before {
    content: '';
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #B14125;
    /* border-radius: 40px; */
    transform: translate(-100%);
    transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);

}

.button button:hover .buttoninner {
    transform: translate(15px);
    gap: 12px;
}

.button button:hover::before {
    transform: translate(0);
}

.button {
    margin-top: 40px;
}

.button2 button {
    background-color: transparent;
    color: #B14125;
    border: 1px solid #B14125;
}

.button2 button::before {
    background-color: white;
}

.button2 button::after {
    border-color: #B14125;
}
.button2 svg{
    fill: #B14125;
    color: #B14125;
}