@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');

.main {
    height: max-content;
    width: 100vw;
    z-index: 9999;
    scroll-snap-type: y mandatory;
}

.section1 {
    padding-top: 200px;
    height: max-content;
    width: 100%;
    background-color: white;
}

.sec1Text {
    height: max-content;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.sec1Text p {
    text-align: center;
}

.sec1Text span {
    font-family: norwester;
    /* padding: 100px 0; */
    font-size: 6vw;
    text-align: center;
    margin: auto;

}

.sec1Image {
    z-index: 99;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.sec1Image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section2 {
    height: max-content;
    background-color: white;
    width: 100vw;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.sec2Text h2 {
    font-size: 40px;
    font-family: norwester;
}

.sec2Text p {
    font-size: 22px;
    line-height: 35px;
    font-weight: 600;
    width: 50%;
    margin: auto;
    margin-top: 50px;
}

.mouseCursor {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: black;
    position: fixed;
    top: -15px;
    left: -15px;
    z-index: 100;
    user-select: none;
}

.button {
    position: relative;
    z-index: 99999;
    height: 50px;
    width: max-content;
    margin: 40px auto;
}

.button button {
    position: relative;
    z-index: 99999;
    padding: 15px 30px;
    transition: 100ms ease-in-out;
    outline: none;
    border: none;
    background-color: transparent;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 60px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.button button:hover {
    border: none;
    transform: translate(0, -2px);
    box-shadow: 12px 28px 30px rgba(0, 0, 0, .12);
}



.button button img {
    transition: 100ms ease-in-out;
    height: 15px;
}

.button button img:nth-child(1) {
    transform: translate(-20px, 0) scale(0);
}

.button button:hover img:nth-child(2) {
    transform: translate(20px, 0) scale(0);
}

.button button:hover img:nth-child(1) {
    transform: translate(0px, 0) scale(1);
}

.section3 {
    height: max-content;
    background-color: white;
    width: 100%;
    /* scroll-snap-type: y proximity; */
    scroll-snap-align: start;
    /* overflow-y: scroll; */
}

.section4 {
    height: max-content;
    background-color: white;
    width: 100%;
    scroll-snap-align: start;
}

.section4 .secInner {
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.section5 {
    height: max-content;
    background-color: white;
    width: 100%;
    scroll-snap-align: start;
}

.secInner {
    display: flex;
    width: 100%;
}


.sec3InLeft {
    width: 50%;
    position: relative;

}

.sec3InLeft p:nth-child(1) {
    position: absolute;
    rotate: -90deg;
    top: 30%;
    font-size: 40px;
    left: -3%;
}

.sec3InLeft p:nth-child(1) span {

    font-family: norwester;
}

.sec3InLeft p:nth-child(2) {
    position: absolute;
    bottom: 20%;
    left: 10%;
    width: 65%;
    font-size: 24px;
    font-weight: 400;
}

.sec3InRight {
    height: max-content;
    width: 50%;
}

.sec3InRight img {
    height: auto;
    width: 100%;
}

/* Section 6 */

.section6 {
    background-color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec6Text {
    text-align: center;
}

.sec6Text h2 {
    font-family: norwester;
    font-size: 40px;
    margin: 10px 0;
}

.sec6Text p {
    font-weight: 600;
    width: 90%;
    /* margin: auto; */
    margin: 40px auto;
}

.sec6Inner {
    width: 1200px;
}

.imagesbox {
    margin-top: 50px;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.imagebox {
    height: 400px;
    width: 300px;
    position: relative;
}

.imageboxtext {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
    opacity: 0;
    transition: 200ms ease-in-out;
}

.imageboxtext h2 {
    font-size: 35px;
    /* font-weight: 600; */
    text-transform: uppercase;

}

.imageboxtext p {
    font-size: 15px;
}

.imagebox {
    height: 400px;
    min-width: 25%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.imagebox img {
    transition: 150ms ease-in-out;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.imagebox:hover img {
    filter: blur(1px) saturate(0.5) brightness(0.4);
    height: 120%;
    width: 120%;
}

.imagebox:hover .imageboxtext {
    opacity: 1;
}

/* section 7 */

.section7 {
    height: 100vh;
    background-color: white;
    width: 100%;
    position: relative;
    border-bottom: 2px solid rgb(173, 173, 173);
    margin-bottom: 550px;
}

.section7>h2 {
    position: absolute;
    text-align: center;
    z-index: 2;
    font-family: norwester;
    font-size: 100px;
    width: 80%;
    margin: auto;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec7ImageBox {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
}

.sec7ImageBox img {
    height: 100%;
    width: 100%;
}

.sec7ImageBox>h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-family: norwester;
    color: white;
    width: 100%;
    text-align: center;

}

.footer {
    height: max-content;
    width: 100%;
    position: fixed;
    z-index: -4;
    bottom: 0;
    left: 0;
}

.photographers {
    height: max-content;
    padding: 5vw 0;
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5vw;
}

.photographers h1 {

    font-size: 50px;
    font-family: norwester;
    color: black;
    width: 100%;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
}

.card {
    height: calc(1200px / 2);
    width: calc(1200px / 3 - 20px);
    position: relative;
    background: linear-gradient(white, rgba(0, 0, 0, 0.696));
    cursor: pointer;
    overflow: hidden;
}

.card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* filter: brightness(0.5); */
    transition: .2s ease-in-out;
    mix-blend-mode: multiply;
}

.card2 img {
    object-position: left;
}

.cursor {
    position: absolute;

    height: 100px;
    width: 100px;
    top: -100px;
    left: -100px;
    /* padding: 50px; */
    background: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 10;
    pointer-events: none;

}

.cursor span {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
}

.cardGallery {
    /* display: none; */
    /* pointer-events: none; */
    transform-origin: center;
    /* transform:scale(0); */
    position: fixed;
    /* opacity: 1; */
    scale: 0;
    /* display: none; */
    top: 50%;
    left: 50%;
    scale: 0;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 75vh;
    padding: 2.5vw;
    background: white;
    z-index: 10;
    border: 2px solid black;
    /* box-shadow: 0px 0px 5px 100vh black; */

}

.show {
    scale: 1;
}



.cardGalleryCross {
    position: absolute;
    /* pointer-events: all; */
    top: 20px;
    right: 20px;
    cursor: pointer;
    width: max-content;
    height: max-content;
    z-index: 20;
}

.cardGalleryCross img {
    height: 30px !important;
    margin: 0 !important;
    width: 30px !important;
    filter: invert(1);
}

.cardGallery img {
    width: calc(100% / 3 - 10px);
    height: calc(100% / 3);
    max-height: 400px;
    object-position: center;
    /* height: auto; */
    object-fit: cover;
    margin-right: 10px;
}

.cardGallery:nth-of-type(3) img {
    object-position: top;
}

.cardGallery iframe {
    /* aspect-ratio:1; */
    /* width: calc(100% / 3 - 10px);  */
    height: 170px;
    width: auto;
    margin-right: 10px;
    /* height: 300px; */
    /* height: calc(100% / 3); */
}

.card a button {
    position: relative;
    /* bottom: 5%; */
    /* left: 50%; */
    /* transform: translate(-50%, 30%); */
    z-index: 1;
    background: transparent;
    /* color: white; */
    border: 1px solid black;
    padding: 0.5vw 1.5vw;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 1.2vw;
    transition: .1s ease-in-out;
}

.card button:hover {
    color: white;
    background: black;

}

@media screen and (width<1200px) {

    .cards {
        width: 100%;
        flex-wrap: wrap;
        gap: 20px;
    }

    .photographers h1 {
        font-size: 24px;
    }

    .card {
        height: calc(100vw / 1.5);
        width: 100%;
    }

    .card img {
        object-position: top;
    }

    .card a button {
        font-size: 2vw;
        padding: 1.5vw 3vw;
        bottom: 10%;
    }

    .sec2Text p {
        width: 80%;
    }

    .section3 {
        margin: 0;
        padding: 0;
        height: max-content;
    }

    .section4 {
        height: max-content;
    }

    .section5 {
        height: max-content;
    }

    .sec3InRight {
        height: max-content;
    }

    .sec3InRight img {
        height: auto;
    }

    .sec3InLeft p:nth-child(1) {
        font-size: 22px;
    }

    .sec3InLeft p:nth-child(2) {
        font-size: 16px;
    }

    .section6 {
        height: max-content;
        padding: 20px 0;
    }

    .sec6Text h2 {
        font-size: 24px;
    }

    .sec6Text p {
        font-size: 16px;
        margin: auto;
    }



    .section7>h2 {
        top: 10%;
        font-size: 10vw;
    }

    .sec6Inner {
        width: 100%;
        margin: auto;
    }

    .section7 {
        height: 100vh;
        padding-bottom: 50px;
        margin-bottom: 0;
    }

    .sec7ImageBox h2 {
        font-size: 10vw;
    }


    .footer {
        position: relative;
        z-index: 0;
    }

    .sec7ImageBox img {
        object-fit: cover;
    }

    .button {
        z-index: 100;
    }
}

@media screen and (width<935px) {
    .imagebox {
        width: 30%;
        margin: auto;
    }
}

@media screen and (width<=768px) {

    .section7 {
        height: max-content;
    }

    .section1 {
        padding-top: 120px;
        height: 100vh;
    }

    .sec1Image {
        height: 500px;
    }

    .section2 {
        padding-bottom: 100px;
        padding-top: 40px;

    }

    .sec2Text h2 {
        font-size: 24px;
        margin: 0;
    }

    .sec2Text p {
        margin: 10px auto;
        width: 90%;
        line-height: normal;
        font-size: 18px;
    }

    .imagesbox {
        gap: 0.5rem;
    }

    .imagebox {
        height: 300px;
        min-width: 200px;
        margin: auto;
    }

    .section3 {
        margin: 0;
        padding: 0;
        height: max-content;
    }

    .section4 {
        height: max-content;
    }

    .section5 {
        height: max-content;
    }

    .sec3InRight {
        height: max-content;
    }

    .sec3InRight img {
        height: auto;
    }

    .sec3InLeft {
        padding-left: 1rem;
        padding-top: 1rem;
    }

    .sec3InLeft p:nth-child(1) {
        position: relative;
        font-size: 18px;
        transform: rotate(90deg);
        left: unset;
        top: unset;
    }

    .sec3InLeft p:nth-child(2) {
        font-size: 14px;
        width: 80%;

        position: relative;
        bottom: unset;
        left: unset;
    }

}

@media screen and (width<600px) {
    .imagesbox {
        gap: 0rem;
    }

    .imagebox {
        margin: 0;
        height: 200px;
        min-width: 90px;
    }

    .imageboxtext {
        bottom: 20px;
    }

    .imageboxtext h2 {
        font-size: 22px;
    }

    .imageboxtext p {
        font-size: 9px;
    }
}

@media screen and (width<480px) {
    .card a button {
        padding: 2vw 5vw;
        font-size: 18px;
    }
}