@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');

.homePage {
    width: 100dvw;
    height: max-content;
}

.nav {
    
    height: 12vh;
    width: 100vw;
    background: url('https://zimed.netlify.app/assets/images/background/banner-bg-1-1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.contentPage {
    width: 50%;
    margin: 40px auto;
}

.contentPage h1 {
    margin: 20px 0;
}
.contentPage section{
    padding-top: 10vh;
}

@media screen and (width<=900px) {
    .contentPage {
        width: 95%;
    }
}
@media screen and (width<500px) {
    .nav{
        background: none;
    }
    .contentPage section:first-child{
        padding-top: 0;
    }
}