@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');

.homePage {
    height: max-content;
    width: 100vw;
    background-color: white;
}

.text h1 {
    font-size: 7vw;
    font-weight: 700;
}

.section1 {
    /* height: 100vh; */
    padding-top: 12vw;
    width: 1200px;
    margin: auto;
}

.text {
    position: relative;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 5;
    padding: 0 1vw;
    margin: auto;
    margin-bottom: 5vw;
    width: 65vw;
    color: #1E1E1E;
}

.rectcontainer {
    width: 100%;
    height: 100%;
    padding: 0 1vw;
    margin: auto;
    position: relative;
    z-index: 4;
    /* margin-top: 30rem; */
}

.rect1 {

    width: 65vw;
    margin: auto;
    height: 35vw;
    filter: saturate(121%);
    color: #f5e3fd;
    background: rgb(255, 240, 102);
    background: linear-gradient(180deg, rgba(255, 240, 102, 1) 0%, rgba(255, 224, 89, 1) 75%, rgba(255, 194, 75, 1) 100%);
    background-position: 50%;
    background-size: cover;
    border-radius: 15px;
    position: relative;
    z-index: -1;
}

.image1 {
    position: absolute;
    z-index: 5;
    max-width: 50vw;
    top: 0;
    bottom: unset;
    /* margin: auto; */
    right: unset;
    /* left: 50%; */
    /* transform: translate(-50%); */
}

.image2 {
    width: 60vw;
    position: absolute;
    z-index: 1;
    left: 0%;
    top: -40%;
    /* transform: translate(-50%); */
    right: unset;
    bottom: unset;
    /* max-width:50vw; */
    /* margin: auto; */
}

.section1 p {

    font-size: 1.2vw;
}

.leadingp {
    position: relative;
    margin: auto;
    z-index: 5;
    width: 50%;
    font-size: 20px;
    font-weight: 700;
    margin: auto;
    margin-top: 400px;
    text-align: center;
}

.section2 {
    /* padding-top: 100vh; */
    height: max-content;
    width: 100%;
    margin: auto;
    /* padding-bottom: 10vh; */
    /* background-color: aqua; */
}

.imagesContainer {
    padding-top: 5vw;
    width: 1200px;
    height: max-content;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cont {
    height: max-content;
    width: 28vw;
    margin: 0rem 2rem;
    border-radius: 15px;
    position: relative;
}

.imageContainer {
    height: 28vw;
    width: 28vw;
    /* margin: 0rem 2rem; */
    border-radius: 15px;
    position: relative;
    overflow: hidden;

}

.cont:nth-child(even) {
    margin-top: 100px;
    /* transform: translate(0,200px); */
}

/* .imageContainer:nth-child(1) {
    background-color: #FFD818;
}

.imageContainer:nth-child(2) {
    background-color: #F6F6F6;
}

.imageContainer:nth-child(3) {
    background-color: #2D3932;
}

.imageContainer:nth-child(4) {
    background-color: #FFFC24;
} */

.imageContainer img {
    width: 120%;
    height: 120%;
    margin: auto;
    border-radius: 15px;
    object-fit: cover;
    object-position: center;
}

.caption {
    /* position: absolute; */
    /* top: 100%; */
    z-index: 4;
    color: #1E1E1E;
    text-align: center;
}

.caption h2 {
    margin-top: 10px;
    font-size: 1.1vw;
    font-weight: 600;
}

.caption p {
    /* position: absolute; */
    /* bottom: 10px; */
    /* left: 50%; */
    /* transform: translate(-50%); */
    color: black;
    margin-top: 2px;
    font-size: 1vw;
    z-index: 4;
    /* width: 90%; */
}

/* .section2 img:hover{
    transform: scale(1.1);
} */
.navbar {
    height: 110px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #2D3932;
}

.section3 {
    width: 1200px;
    margin: auto;
    padding-top: 10vw;
}

.section3 h2 {
    font-size: 4vw;
    text-align: center;
    color: #1E1E1E;
}

.carouselContainer {
    width: 100%;
    padding: 0 2.5vw;
    position: relative;

}

.carousel {
    width: 100%;
    padding-top: 4vw;
    padding-bottom: 4vw;
    /* padding:0 10vw; */
    margin: auto;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.carouselInner:nth-child(1) {
    /* transform: translate(-100%); */
}

.carouselInner {
    /* width: 200%; */
    position: relative;
    white-space: nowrap;
    animation: 15s slide infinite linear;
    /* transition: 1s ease-in-out; */

}

@keyframes slide {
    from {
        transform: translate(0);
    }

    to {
        transform: translate(-100%);
    }
}

.backButton {
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    background: black;
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 50%;
}

.backButton::before {
    content: '';
    position: absolute;
    top: 50%;
    height: 20%;
    width: 20%;
    left: 50%;
    border-top: 2px solid rgb(207, 207, 207);
    border-left: 2px solid rgb(207, 207, 207);
    transform: translate(-50%, -50%) rotate(-45deg);
}

.backButton::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    height: 2px;
    width: 35%;
    background: rgb(207, 207, 207);
}

.nextButton {
    display: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0%, -50%);
    background: black;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.nextButton::before {
    content: '';
    position: absolute;
    top: 50%;
    height: 20%;
    width: 20%;
    left: 50%;
    border-top: 2px solid rgb(207, 207, 207);
    border-left: 2px solid rgb(207, 207, 207);
    transform: translate(-50%, -50%) rotate(135deg);
}

.nextButton::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);
    height: 2px;
    width: 35%;
    background: rgb(207, 207, 207);
}

.carousel::-webkit-scrollbar {
    display: none;
}

.item {
    transition: .5s all ease-in-out;
    display: inline-block;
    margin: 0 2.5vw;
}

.item:hover {
    transform: translateY(-50px);
}

.item img {
    height: 400px;
    width: 400px;
    border-radius: 20px;
    object-fit: cover;

}

.section4 {
    width: 1200px;
    margin: auto;
    height: 40vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vw;
    padding-bottom: 5vw;
}

.sec4image {
    background-repeat: no-repeat;
    background-image: url('/6440152ea8c32379c0933a5f_CoffeÃÅ_ (1).png');
    background-size: contain;
    height: 100%;
    width: 50%;
}

.sec4text {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.sec4text h2 {
    font-size: 3vw;
    color: #1E1E1E;
    margin-bottom: 20px;
}

.sec4text p {
    font-size: 1.2vw;

}

@media screen and (width<1200px) {
    .section4 {
        width: 100%;
        flex-wrap: wrap;
    }

    .section3 {
        width: 100%;
    }

    .section2 {
        width: 100%;
    }
    .imageContainer{
        width: 30vw;
        height: 30vw;
    }
    .cont{
        width: 30vw;
    }
    .imagesContainer {
        width: 100%;
    }

    .section1 {
        width: 100%;
    }

    .text {
        width: 80%;
    }

    .rectcontainer {
        width: 100%;
    }

    .rect1 {
        width: 80%;
        /* margin: 2vw; */
        height: 45vw;
        margin: auto;
    }

    .image1 {
        width: 100%;
    }

    .image2 {
        width: 70%;
    }

    .text p {
        font-size: 1.5vw;
    }

    .section1 .leadingp {
        margin-top: 75px;
        font-size: 1.5vw;
        font-weight: 100;
    }

    .cont h2 {
        font-size: 1.6vw;
    }

    .cont p {
        font-size: 1.25vw;
    }

    .section4 p {
        font-size: 1.5vw;
        width: 90%;
    }

    .item p {
        font-size: 1.5vw;
    }
}