.main{
    height: max-content;
    padding: 2vw;
    width: 100vw;
    /* padding: 40px; */
}
.content{
    height: max-content;
    width: 1200px;
    margin: auto;
    /* padding: 5vw; */
}
.content h1{
    margin-left: 10px;
}
.nav{
    height: 110px;
    width: 100vw;
    background: #000;;
}
.main p{
    margin: 10px;
}
@media screen and (width<1200px) {
    .main{
        padding: 10px;
    }
    .content{
        width: 100%;
    }
    .nav{
        height: 110px;
    }
}
@media screen and (width<480px) {
    .nav{
        height: 50px;
    }
}